body{
    color: white;

    table{
        
        tr{

            th{
                color: white;

            }

            
            td{
                color: white;
                
            }
        }
    }

    // Bootstrap card
    .card,
    .card-body{
        color: #222222;
    }
}