@font-face {
    font-family: SatellaRegular-ZVVaz;
    src: url("../../assets/fonts/SatellaRegular-ZVVaz.ttf");
}

.title {
    font-family: SatellaRegular-ZVVaz;
    font-size: 45px;
    letter-spacing: 4px;
    text-shadow: 0px 3px 4px rgba(255, 0, 0, 0.73);
}